.botAdc{
    width: 350px;
    padding: 15px 40px;
    border: 1px solid #eee;
    border-radius: 6px;
    background-color: rgba(23, 45, 235, 0.842);
    font-size: 18px;
    color: aliceblue;
    margin-left: 50px;
    
}

.hidden {
    display: none;
}

#formulario input.professor {

}